<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    {{#each htmlWebpackPlugin.options.options }}
      {{@key}}
    {{/each}}
    <div id="debug"></div>
    <div class="container">
      {{> panel 'Express clairvoyant'}}
      {{> panel 'A medium on the double'}}
      {{> panel 'Miss Bonnie Vista'}}
      {{> panel 'Next right, Exit 8'}}
    </div>
    <script type="text/javascript" src="./script.js"></script>
  </body>
</html>