<!doctype html>
<html>
  <head>
    <title>Bonnie Vista by Tyler Paige</title>
    <link rel="stylesheet" href="./style.css" />
    <meta name="author" content="Tyler Paige" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="“Bonnie Vista” by Tyler Paige" />
  </head>
  <body>
    {{#each htmlWebpackPlugin.options.options }}
      {{@key}}
    {{/each}}
    <div id="debug"></div>
    <div class="container">
      {{> panel 'Express clairvoyant'}}
      {{> panel 'A medium on the double'}}
      {{> panel 'Miss Bonnie Vista'}}
      {{> panel 'Next right, Exit 8'}}
    </div>
    <script type="text/javascript" src="./script.js"></script>
  </body>
</html>